.element__like {
  width: 22px;
  height: 19px;
  margin-left: auto;
  margin-right: 20px;
  background: transparent;
  background-image: url(../../../images/btnLike.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  transition: all ease 0.2s;
}

.element__like:hover {
  opacity: .5;
}

.element__like:active {
  background-image: url(../../../images/btnLikeActive.svg);
  opacity: 1;
}