.element__delete {
  position: absolute;
  top: 18px;
  right: 16px;
  width: 18px;
  height: 19px;
  background: transparent;
  background-image: url(../../../images/btnDelete.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  transition: all .2s ease;
}

.element__delete:hover {
  opacity: .5;
}