.profile {
  min-height: 120px;
  margin-top: 35px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 680px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  .profile {
    margin-top: 45px;
  }
}